<div class="game-recap-header" [style.border]="getBorder()" (click)="clicked()">
  <div class="badge-loser" *ngIf="!lastGame.winner"></div>
  <div class="badge-winner" *ngIf="lastGame.winner"></div>
  <img class="img-champion" src="app/img/champion/{{lastGame.championId}}.png"/>
  <div class="spell-column">
    <img class="img-spell" src="app/img/spell/{{lastGame.spell1Id}}.png">
    <img class="img-spell" src="app/img/spell/{{lastGame.spell2Id}}.png">
  </div>
  <div class="badge">
      <div class="badge-data">{{lastGame.kill}}/{{lastGame.death}}/{{lastGame.assist}} {{lastGame.queueType}}</div>
  </div>
</div>
