
# Created by https://www.gitignore.io/api/intellij

# User-specific stuff:
.idea/workspace.xml
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Gradle:
.idea/libraries

# *.iml
# modules.xml
/riot-website-angular.iml
/node_modules/
/.idea/
/typings/
/npm-debug.log
**.map
**.js