.column {
    display: inline-block;
    vertical-align: text-top;
}

.line {
    width: 100%;
}

.global-game-list {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.game-summary-list {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0;
    /*background-color: #195418;*/
}

.game-details {
    width: 100%;
    height: 100%;
}

.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.li-game-recap {
    margin: 5px;
    height: 50px;
}

.games {
    display: flex;
    flex-direction: column;
    /*position: relative;*/
    /*display: inline-block;*/
    /*list-style-type: none;*/
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow:hidden;
    overflow-y:scroll;
}

.game-recap-header {
    /*display: block;*/
    background-color: #d6d7d8;
    /*margin: 5px;*/
    padding: 0px;
    height: 100%;
    width: 100%;
}

/*.games li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}*/

.game-recap-header:hover {
    color: #607D8B;
    background-color: #FFFFFF;
}

.games .text {
    position: absolute;
}

.badge-winner {
    background: linear-gradient(70deg, #29B40C, #BCD874);
    display: inline-block;
    width: 30px;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.badge-loser {
    background: linear-gradient(70deg, #6E0C1B, #A24657);
    display: inline-block;
    width: 30px;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.winner-text {
    color: #EDEEEF;
    word-wrap: break-word;
    letter-spacing: 10px;
    text-align: center;
    height: 150px;
    padding: 10px;
    width: inherit;
    margin: -5px 0px -5px 0px;
    font-size: 7px;
}

.badge {
    color: #EDEEEF;
    position: relative;
    /*padding: 15px;*/
    /*transform: skew(-40deg);*/
    background-color: #888;
    text-decoration: none;
    display: inline-block;
    height: auto;
    border-bottom: initial;
    min-width: 150px;
}

.badge-data {
    /*transform: skew(40deg);*/
}

.badge-details {
    transition-timing-function: linear;
    transition: height;
    transition-duration: 2s;
}

.badge-champion {
    padding: 0px;
    display: inline-block;
}

.img-champion {
    height: 100%;
}

.badge-champion-name {
    display: block;
    height: 30px;
    width: 120px;
}

.badge-infos {
    height: 100px;
}

.game-map {
    /*padding: 30px;*/
    width: 70px;
}

.game-recap { /* TODO - modify this thing; it's here for dummy */
    /*width: 800;*/
}

.gameTimelineInfo {
    display: inline-block;
    margin: 5px;
}