.game-list {
    background-color: #212223;
    padding-left: 50px;
    padding-right: 30px;
}

.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.games {
    margin: 0 0 0 0;
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: auto;
    /*background: #212223;*/
}

.game-recap {
    display: block;
    /*left: 0;*/
    background-color: #EDEEEF;
    margin-bottom: 5px;
    margin-left: 5px; 
    padding: 0 0 0 20px;
    /*border-radius: 4px;*/
}

/*.games li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}*/

.game-recap:hover {
    color: #607D8B;
    background-color: #FFFFFF;
}

.games .text {
    position: absolute;
}

.badge {
    color: #EDEEEF;
    position: relative;
    padding: 15px;
    transform: skew(-40deg);
    background-color: #888;
    text-decoration: none;
    display: inline-block;
    height: auto;
    border-bottom: initial;
}
.badge-data{
    transform: skew(40deg);
}