.game-list {
    background-color: #212223;
    padding-left: 30px;
    padding-right: 30px;
}

.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.games {
    margin: 0 0 0 0;
    position: relative;
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: auto;
}

.game-recap {
    display: block;
    background-color: #EDEEEF;
    margin-bottom: 5px;
    margin-left: 5px; 
    padding: 0 0 0 20px;
}
.li-game-recap{
    transition-duration: 2s;
    transform-style: ease;
}
/*.games li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}*/

.game-recap:hover {
    color: #607D8B;
    background-color: #FFFFFF;
}

.games .text {
    position: absolute;
}

.badge {
    color: #EDEEEF;
    position: relative;
    padding: 15px;
    transform: skew(-40deg);
    background-color: #888;
    text-decoration: none;
    display: inline-block;
    height: auto;
    border-bottom: initial;
    min-width: 120px;
}
.badge-data{
    transform: skew(40deg);
}
.badge-details{
    transition-timing-function: linear;
    transition: height;
    transition-duration: 2s;
}
.game-charts{
    padding: 30px;
    position: absolute;
    display: inline-block;
    width: 600px;
}
.game-details{ /* TODO - modify this thing; it's here for dummy */
    width:600; 
}