<div class="global-game-list">
    <div class="game-summary-list">
        <!--<div class="summoner-info">-->

        <!--<h2>Overview</h2>-->
            <!--<div>Summoner basic info here (Name, rank, main roles)</div>-->
            <!--<div>Put champion image if found, else put sona one by default</div>-->
            <!--<div>Colors' Hexa code for Defeat/Victory have been picked on Katarina/Urgot icon</div>-->
        <!--</div>-->
        <div class="line">
            <input [(ngModel)]="summonerName" placeholder="{{name}}"/>
            <button (click)="find()">Find</button>
        </div>
        <h2>Match history</h2>
        <ul class="games">
            <li class="li-game-recap" *ngFor="let game of gameList; let i = index ">
               <div class="game-recap-header" (click)="onSelect(game,gameList)">
                    <div class="column">
                        <div class="badge-loser" *ngIf="!game.winner"><!--<div class="winner-text"> DEFEAT </div>--></div>
                        <div class="badge-winner" *ngIf="game.winner"><!--<div class="winner-text"> VICTORY </div>--></div>
                    </div>
                    <div class="column">
                        <div class="badge-champion"><img class="img-champion" src="app/image/champion/{{game.championId}}.png" onError="this.src='app/image/champion/37.png'"/></div>
                    </div>
                    <div class="column">
                        <div class="badge"><div class="badge-data">{{game.kill}}/{{game.death}}/{{game.assist}} {{game.queueType}}</div></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <game-details class="game-details" [lastGame]="selectedGame"></game-details>
</div>