.game-recap-header {
    display: flex;

    background-color: #d6d7d8;
    height: 50px;
}

.game-recap-header:hover {
    background-color: #FFFFFF;
}

.badge {
    color: #EDEEEF;
}

.badge-winner {
    background: linear-gradient(70deg, #29B40C, #BCD874);
    width: 30px;
    height: 100%;
}

.badge-loser {
    background: linear-gradient(70deg, #6E0C1B, #A24657);
    width: 30px;
    height: 100%;
}

.badge-data {
    font-size: 15px;
}

.badge-details {
    transition-timing-function: linear;
    transition: height;
    transition-duration: 2s;
}

.column {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.item-line {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.img-spell {
    height: 50%;
}

.img-item {
    width: 100%;
    height: 100%;
}

.img-champion {
    height: 100%;
}
