table {
    margin: 15px;
    width: 40%;
    border-collapse: collapse;
}

tr {
    cursor: pointer;
    border-bottom: 1px solid black;
}

tr:first-child {
    background-color: #d6d6d6;
}

tr:hover {
    background-color: #d6d6d6;
}

.main {
    display: flex;
    flex-direction: row;
}

.selected {
    background-color: #d6d6d6;
}

.champion-icon {
    height: 30px;
    margin: 3px;
}

.tr-img {
    font-size: 0;
}