<app-find-bar></app-find-bar>
<table>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Win</th>
        <th>Lose</th>
        <th>Win rate</th>
    </tr>
    <tr *ngFor="let champion of champions">
        <th class="tr-img">
            <img class="champion-icon" src="assets/img/champion/{{champion.id}}.png">
        </th>
        <th>{{champion?.champion?.name}}</th>
        <th>{{champion.winRate.win}}</th>
        <th>{{champion.winRate.lose}}</th>
        <th>{{champion.winRate.win * 100 / (champion.winRate.win + champion.winRate.lose) | number : '1.2-2'}}</th>
    </tr>
</table>
