.title {
    margin: auto;
    font-size: 72px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    text-align: center;
}

.center {

}

.search {
    border: 1px solid #303030;
}

.search input {
    width: 400px;

    font-size: 18px;
    padding: 12px;
    border: none;
}

.search input:focus {
    outline: none;
    border: none;
}

.search input::-webkit-input-placeholder {
    color: #9b9b9b;
}

.search button {
    font-size: 18px;
    padding: 12px;
    border: none;
    background-color: transparent;
    text-align: center;
}

.search button:active {
    box-shadow: none;
}

.error {
    padding: 12px;
    font-size: 18px;
    color: red;
}