h1 {
    margin: auto;
    font-size: 64px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    text-align: center;
}

.center {

}

.search {
    border: 1px solid #303030;
}

.search input {
    width: 500px;

    font-size: 18px;
    padding: 12px;
    border: none;
}

.search input:focus {
    outline: none;
    border: none;
}

.search input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.search button {
    font-size: 18px;
    padding: 12px;
    border: none;
    background-color: transparent;
    text-align: center;
}

.search button:active {
    box-shadow: none;
}