a {
    color: white;
    font-size: 32px;
    padding: 10px;
    text-decoration: none;
}

a:hover {
    transition: all 0.2s;
    background-color: white;
    color: black;
}

.navigation {
    display: flex;
    flex-direction: row;
    background-color: #161616;
}

.title {
    font-size: 48px;
    color: white;
    padding: 10px 30px;
}

.title:hover {
    transition: all 0.2s;
    background-color: white;
    color: black;
}

.search {
    margin: auto;

    font-size: 0;
    border: 1px solid black;
}

.search input {
    font-size: 18px;
    padding: 10px;
    border: none;
    outline: none;
}

.search button {
    font-size: 18px;
    padding: 10px;
    border: none;
    background-color: white;
    text-align: center;
    outline: none;
}

.search button:hover {
    background: grey;
}