<app-find-bar></app-find-bar>
<div class="global-game-list">
  <div class="game-summary-list">
    <div class="line">
      <input [(ngModel)]="summonerName" placeholder="{{name}}"/>
      <button (click)="find()">Find</button>
    </div>
    <h2>Match history</h2>
    <ul class="games">
      <li class="li-game-summary" *ngFor="let game of gameList">
        <app-game-summary [lastGame]="game" (click)="onSelect(game); map.updatePosition()"></app-game-summary>
      </li>
    </ul>
  </div>
  <app-game-detail #map class="game-details" [selectedGamesId]="selectedGamesId" [summonerId]="summonerId"></app-game-detail>
</div>
