.column {
  display: inline-block;
  vertical-align: text-top;
  font-size: 16px;
}

.global-game-list {
  display: flex;
  flex-direction: row;
}

.game-summary-list {
  width: 800px;
}

.li-game-summary {
  display: block;
  height: 50px;
  margin: 5px;
}

.game-details {

}

.games {
  overflow:auto;
}
